.about-us {
  margin-top: 8.849rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__upper {
    display: flex;
    justify-content: space-between;
    gap: 4.076rem;
  }
}

.about-us__description {
  width: 55.5rem;
}

.description__text {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.numbers {
  position: relative;
  margin-top: 10.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.721rem 9.1rem;
  border-radius: var(--border-radius-10);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  &__number {
    display: flex;
    align-items: center;
    gap: 3.65rem;

    &:nth-child(2) {
      padding: 3.029rem 13.45rem 3.029rem 11.3rem;
      border-left: var(--border-2) solid var(--border-color);
      border-right: var(--border-2) solid var(--border-color);
    }
  }
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__span {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-20);
    line-height: var(--line-height-30);
    color: var(--color-text-secondary);
  }
}
