.about-us {
  margin-top: 8.849rem;
  display: flex;
  justify-content: space-between;

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.description__header {
  font-size: var(--font-size-50);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-70);
  color: var(--color-text-primary);

  &__span {
    font-weight: var(--font-weight-700);
  }
}

.description__text {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: var(--line-height-30);
  color: var(--color-text-secondary);
  margin-top: 2rem;
  margin-bottom: 5rem;
}
