@import "./mixins";

.features {
  margin-top: 9.583rem;
  display: flex;
  gap: 16.948rem;

  &__pic {
    max-width: 50.812rem;
    width: 100%;
  }

  &__details {
    align-self: flex-end;
    @include list($gap: 2rem);
  }
}

.details__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  // list-style-image: url(../assets/list-icon.svg);
}

.list__item {
  @include list_item($gap: 1.008rem);
}
