.features {
  margin-top: 10.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.721rem 9.1rem;

  &__feature {
    display: flex;
    align-items: center;
    gap: 3.65rem;

    &:nth-child(2) {
      padding: 3.029rem 13.45rem 3.029rem 11.3rem;
      border-left: var(--border-2) solid var(--border-color);
      border-right: var(--border-2) solid var(--border-color);
    }
  }
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__span {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-20);
    line-height: var(--line-height-30);
    color: var(--color-text-secondary);
  }
}
