.footer {
  margin-top: 18.152rem;
  position: relative;
  color: var(--color-white);
  padding: 18rem 0 10rem;
  display: flex;
  justify-content: space-between;

  &__subscribe {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    padding: 5.85rem 7rem;
    border-radius: var(--border-radius-10);
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--color-white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100vw;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-footer);
    z-index: -1;
  }

  &__copy {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__links {
    margin-top: 0.312rem;
  }
}

.fheader {
  line-height: var(--line-height-45);
}

.copyrights {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__socials {
    display: flex;
    gap: 2rem;
  }

  &__text {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-16);
    line-height: var(--line-height-30);
    color: var(--color-text-copy);
  }

  &__text .cSpan {
    font-weight: var(--font-weight-500);
  }
}

.footer__links {
  display: flex;
  gap: 12.6rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.links__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flink {
  line-height: var(--line-height-30);
}
