.container {
  position: relative;
  width: var(--max-width);
  padding: 5rem 0;
  z-index: 0;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1.75rem 7.75rem;
  text-align: center;
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-16);
  line-height: var(--line-height-25);
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: var(--border-radius-10);
  align-self: flex-start;

  &::after {
    position: absolute;
    content: "";
    width: 21.183rem;
    height: 6rem;
    border-radius: var(--border-radius-10);
    top: 2.529rem;
    background-color: var(--btn-blur-color);
    filter: blur(5.4rem);
    z-index: -1;
  }
}

.btn--plain {
  color: var(--color-text-primary);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
}

.btn--secondary {
  padding: 1.3rem 4.5rem;
  color: var(--color-primary);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
  border: var(--border-1) solid var(--color-primary);
  border-radius: var(--border-radius-50);
  transition: all var(--transition-timing);

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}

.span {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
}

.h3--header {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-25);
  line-height: var(--line-height-30);
  color: var(--color-text-primary);
}
