@import "./mixins";

.container {
  position: relative;
  width: var(--max-width);
  padding: 5rem 0;
  z-index: 0;
}

.button {
  @include button(
    $tbP: 1.75rem,
    $rlP: 7.75rem,
    $font-weight: var(--font-weight-700),
    $font-size: var(--font-size-16),
    $color: var(--color-white),
    $bg-color: var(--color-primary),
    $border-radius: var(--border-radius-10),
    $box-shadow: 0 12px 24px rgba(235, 50, 50, 0.5)
  );
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: flex-start;
}

.btn--plain {
  color: var(--color-text-primary);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
}

.btn--secondary {
  @include button(
    $tbP: 1.3rem,
    $rlP: 4.5rem,
    $font-weight: var(--font-weight-500),
    $font-size: var(--font-size-16),
    $color: var(--color-primary),
    $bg-color: var(--color-white),
    $border: var(--border-1) solid var(--color-primary),
    $border-radius: var(--border-radius-50)
  );

  transition: all var(--transition-timing);

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}

.text {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: var(--line-height-30);
  color: var(--color-text-secondary);
}

.span {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
}

.h3--header {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-25);
  line-height: var(--line-height-30);
  color: var(--color-text-primary);
}

.h2--header {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-35);
  line-height: var(--line-height-50);
  color: var(--color-text-primary);
}
