.container {
  width: calc(var(--max-width) + (var(--gutter) * 2));
  padding: 5rem 0;
}

.btn {
  padding: 1.75rem 7.75rem;
  text-align: center;
  font-weight: var(--font-weight-700);
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: var(--border-radius-10);
}

.btn--plain {
  color: var(--color-text-primary);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
}

.btn--secondary {
  padding: 1.3rem 4.5rem;
  color: var(--color-primary);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
  border: var(--border-1) solid var(--color-primary);
  border-radius: var(--border-radius-50);
  transition: all var(--transition-timing);

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}
