@import "mixins";

.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
}

.link-wrapper {
  display: flex;
  align-items: center;
  gap: 16.3915rem;
}

.burger-menu {
  display: none;
}

.burger-menu__checkbox {
  display: none;
}

.navigation__links-list {
  display: flex;
  gap: 4rem;
  margin-right: auto;
}

.header__cta {
  display: flex;
  gap: 3rem;
}

@include mobile-tablet {
  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.75rem;
    z-index: 1;
    align-self: center;
  }

  .burger-menu__bar {
    height: 0.3rem;
    width: 4.375rem;
    background-color: var(--color-text-primary);
    transition: var(--transition-timing);
  }

  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(1) {
    transform: translateY(10px) rotate(40deg);
  }

  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }

  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(3) {
    transform: translateY(-7px) rotate(-40deg);
  }

  .link-wrapper {
    position: absolute;
    display: flex;
    justify-content: space-between;
    order: 0;
    width: 100%;
    top: 0;
    background-color: var(--color-white);
    z-index: -1;
    transition: var(--transition-timing);
  }

  .burger-menu__checkbox:checked + .link-wrapper {
    top: 125%;
  }
}
