.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__links-list {
  display: flex;
  gap: 4rem;
}

.header__cta {
  display: flex;
  gap: 3rem;
}
