.testimonials {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;

  &__upper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  &__lower {
    display: flex;
    gap: 5rem;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.comment {
  padding: 3rem;
  border-radius: var(--border-radius-10);
  border: var(--border-2) solid var(--border-color-secondary);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-shrink: 0;

  &:nth-child(1) {
    border: var(--border-2) solid var(--color-primary);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-16);
    line-height: var(--line-height-30);
    color: var(--color-text-primary);
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 2rem;

  &__logoImg {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.name {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-18);
  color: var(--color-text-primary);
}

.location {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  color: var(--color-text-secondary);
}

.rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rate {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  color: var(--color-text-primary);
}

.arrows {
  display: flex;
  gap: 2rem;

  &__right,
  &__left {
    cursor: pointer;

    circle {
      transition: var(--transition-timing);
      fill: transparent;
    }

    .arrow {
      transition: var(--transition-timing);
      fill: var(--color-primary);
    }

    &:hover {
      circle {
        fill: var(--color-primary);
        stroke: var(--color-primary);
      }

      .arrow {
        fill: var(--color-white);
      }
    }
  }
}

.dots {
  display: flex;
  gap: 1.5rem;

  &__dot {
    &:nth-child(1) circle {
      fill: var(--color-primary);
    }
  }
}
