:root {
  --max-width: 114rem;

  --font-family: "Rubik", sans-serif;

  --font-size-14: 1.4rem;
  --font-size-16: 1.6rem;
  --font-size-18: 1.8rem;
  --font-size-20: 2rem;
  --font-size-25: 2.5rem;
  --font-size-35: 3.5rem;
  --font-size-50: 5rem;

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;

  --color-primary: #f53838;
  --color-white: #ffffff;

  --color-text-primary: #0b132a;
  --color-text-secondary: #4f5665;

  --border-radius-50: 5rem;
  --border-radius-10: 1rem;

  --border-1: 0.1rem;
  --border-2: 0.2rem;

  --transition-timing: 0.2s;
}
